.page{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.nav{
    grid-row: 1/2;
}

.main{
    grid-row:2/3;
}

.footer {
    grid-row:3/4
}

.up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(21, 54, 240, 0.37);
    border: none;
}