<footer class="footer">
    <div class="footer-item">
        <div class="logo">
            <h5 [routerLink]="['/']" class="logo__txt">Event<span>Star</span></h5>
        </div>
    </div>
    <div class="footer-item">
        <h5>Legal</h5>
        <a href="https://www.freeprivacypolicy.com/live/8ec6e617-4884-4325-8797-a3b1befd3f22" target="_blank">Politicas
            de privacidad</a>
        <a [routerLink]="['events/site-map']">Mapa del sitio</a>
    </div>
    <div class="footer-item">
        <h5>Redes Sociales</h5>
        <a href="/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
</footer>