.capa {
    padding: 2.5rem;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
}

@media (min-width:768px) {
    .capa {
        padding-inline: 5rem;
    }
}

.mapa__list {
    background-color: var(--color-fondo-dgr);
    padding: 2rem 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mapa__list-item {
    background-color: var(--color-fondo);
    padding: 1.5rem 2.2rem;
    border-radius: .5rem;
    /* margin: .5rem 0; */
    width: 95%;
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    gap: 1.5rem;
    border-left: 3px solid var(--color-btns);
    position: relative;
    /* necesario para posicionar el ::after */
}

.mapa__list-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* o ajusta según lo necesites */
    left: 0%;
    /* empieza al 25% del ancho para centrar el 50% */
    width: 20%;
    border-bottom: 3px solid var(--color-btns);
}

.mapa__list-item--spc {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
    color: var(--color-fondo);
    margin: .1rem 0;
    border-left: 4px solid var(--color-fondo);

}

.mapa__list-item--spc::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* o ajusta según lo necesites */
    left: 0%;
    /* empieza al 25% del ancho para centrar el 50% */
    width: 5%;
    border-bottom: 4px solid var(--color-fondo);
}


.mapa__list-item:hover {
    background-color: var(--color-btns);
    color: var(--color-fondo);
    cursor: pointer;
}